/* Corpo do página */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

main {
    flex-grow: 1;
    margin-top: 70px;
}

/* Barra de navegação */
header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.bg-menu {
    background-color: white;
}

.color-text {
    color: #18d39a !important;
    font-weight: bold;
    font-size: 28px !important;
}

.custom-btn {
    color: #18d39a !important;
    border: 1px solid !important;
    border-color: #18d39a;
    margin-right: 10px;
}

.custom-btn2 {
    color: #18d39a !important;
    border: 1px solid !important;
    border-color: #18d39a;
    background-color: #18d39a !important;
    color: white !important;
    margin-right: 10px;
}

/* Página home */
.bg-home {
    background-image: url(/imagens/bg_home.jpg);
    background-size: cover;
    background-position: center;
    height: 20rem;
    color: white;
    padding-top: 8rem;
}

.bg-home-time {
    background-color: #18d39a;
}

.bg-home-color {
    background-color: #18d39a;
    color: white;
}

.card-img {
    max-width: 100%;
    height: 100%;
    width: auto;
    margin-bottom: 0;
    border-top-right-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
}

.font-paragraf {
    font-size: 14px;
}

.color-h1 {
    color: #18d39a;
}

.custom-bordar {
    border-top-right-radius: 14px;
    background-color: #476370;
}

.paragraf-home {
    font-size: 13px;
}

.btn-home {
    background-color: #18d39a !important;
    color: white !important;
}

.custom-list {
    border-radius: 0% !important;
}

/* Página vagas */
.bg-vagas {
    background-image: url(/imagens/bg_vaga.jpg);
    background-size: cover;
    background-position: center;
    height: 20rem;
    color: white;
    padding-top: 9rem;
}

.bg-color-form {
    background-color: #18d39a;
}

.btn-vagas {
    background-color: white !important;
    color: #18d39a !important;
}

.btn-list-vagas {
    background-color: #18d39a !important;
    color: white !important;
}

.list-vagas {
    list-style: none;
    padding-left: 2px;
    color: #505151;
}

/* Página projetos&cursos */
.bg-projeto {
    background-image: url(/imagens/bg_projeto&cursos.jpg);
    background-size: cover;
    background-position: center;
    height: 20rem;
    color: white;
    padding-top: 8rem;
}

.img-card-projeto {
    max-width: 100%;
    height: 100%;
    width: auto;
    object-fit: cover;
    margin-bottom: 0;
    border-top-left-radius: 2% !important;
    border-bottom-left-radius: 2% !important;
}

.card-text {
    text-align: justify;
}

.font-color-card {
    color: #18d39a !important;
}

.ancora-card {
    color: #476370;
}

/* Página Sobre nós */
.bg-sobre {
    background-image: url(/imagens/bg_sobre.jpg);
    background-size: cover;
    background-position: center;
    height: 20rem;
    color: white;
    padding-top: 8rem;
}

.custom-paragrafo {
    text-align: justify;
    padding-top: 11px;
}

/* Página login */
.bg-login {
    background-image: url(/imagens/jovens_login.png);
    background-size: cover;
    background-position: center;
    height: 36rem;
    color: white;
}

.costum-margem-h1 {
    margin-top: 190px !important;
}

.cor-link {
    color: #18d39a;
    text-decoration: none;
    font-size: 12px;
}

.logo {
    height: 80px;
    width: 80px;
    padding-bottom: 10px;
}

.btn-login {
    background-color: #18d39a !important;
    color: white !important;
}

/* Página cadastro */
.custom-check {
    font-size: 12px;
    padding-top: 10px;
    color: #7e7f80;
}

.custom-form {
    border-radius: 0 !important;
    border: 0 !important;
    background-color: #18d39a;
    color: #476370 !important;
}

.custom-btn-cadastro {
    background-color: #18d39a !important;
    color: white !important;
}

.bg-cadastro {
    background-image: url(/imagens/bg_cadastro.jpg);
    background-position: center;
    background-size: cover;
    height: 18rem;
    color: white;
    padding-top: 6rem;
}

/* Rodapé */
footer {
    background-color: #476370;
    padding: 15px 0 0;
    bottom: 0;
    font-size: 12px;
    color: white;
}

.style-list {
    list-style: none;
    padding-left: 0px;
}

.style-list li {
    padding-bottom: 4px;
}

.btn-footer {
    background-color: #18d39a !important;
    color: white !important;
}